<svg
    class="vector"
    width="163"
    height="37"
    viewBox="0 0 163 37"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <path
        d="M1 34.8376C8.33333 34.1709 21.7807 32.8372 43 18.3375C67.1463 1.83769 85.49 -8.1627 121 18.3375C135.07 28.8375 152.5 34.8376 163 34.8376"
        stroke="url(#paint0_linear_129_107)"
        stroke-width="4"
    />
    <defs>
        <linearGradient
            id="paint0_linear_129_107"
            x1="129"
            y1="34.8376"
            x2="40"
            y2="34.8376"
            gradientUnits="userSpaceOnUse"
        >
            <stop />
            <stop offset="0.0870079" stop-color="#131A23" />
            <stop offset="0.314278" stop-color="#5D636B" />
            <stop offset="0.70148" stop-color="#5D636B" />
            <stop offset="0.959053" stop-color="#131A23" />
            <stop offset="1" stop-color="#131A23" />
        </linearGradient>
    </defs>
</svg>
<svg
    class="vector-ellipse"
    width="10"
    height="10"
    viewBox="0 0 10 10"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <circle cx="5" cy="5" r="4.75" fill="#353535" stroke="#F8F8F8" stroke-width="0.5" />
</svg>
<svg
    class="vector-line"
    width="162"
    height="1"
    viewBox="0 0 162 1"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
>
    <line y1="0.5" x2="162" y2="0.5" stroke="#989CA6" />
</svg>
