<div>
  <div class="forecast-city">
    <h1>Seongnam-si</h1>
    <h2>21º | Partly Cloudy</h2>
  </div>

  <div>
    <h4>10-DAY FORECAST</h4>
    <div class="forecast-days">
      <app-forecast-day></app-forecast-day>
      <app-forecast-day></app-forecast-day>
      <app-forecast-day></app-forecast-day>
      <app-forecast-day></app-forecast-day>
      <app-forecast-day></app-forecast-day>
      <app-forecast-day></app-forecast-day>
      <app-forecast-day></app-forecast-day>
      <app-forecast-day></app-forecast-day>
      <app-forecast-day></app-forecast-day>
      <app-forecast-day></app-forecast-day>
    </div>
  </div>
</div>
