<app-weather-bg></app-weather-bg>
<app-weather-city [weather]="userLocationWeather"></app-weather-city>

<div class="city">
  <div class="city-temp">
    <i class="fa-solid fa-temperature-arrow-up"></i>
    <p>TEMPERATURE</p>
  </div>
  <div class="city-specs">
    <div>
      <div class="spec-heading">
        <i class="fa-solid fa-sun"></i>
        <p>UV INDEX</p>
      </div>

      <div>
        <h1>0</h1>
        <h4>Low</h4>
        <span class="bar"></span>
        <p class="spec-bottom">Low for the rest of the day.</p>
      </div>
    </div>
    <div>
      <div class="spec-heading">
        <i class="fa-solid fa-sun"></i>
        <p>SUNRISE</p>
      </div>
      <h1>
        {{ sunrise }}
        <span class="smaller-text">AM</span>
      </h1>
      <app-weather-vector></app-weather-vector>
      <p class="spec-bottom">{{ sunset }} <span>PM</span></p>
    </div>
    <div>
      <div class="spec-heading">
        <i class="fa-solid fa-wind"></i>
        <p>WIND</p>
      </div>
      <app-compass-svg [wind]="windSpeed"></app-compass-svg>
      <div class="compass">
        <span class="compass-circle">
          <span>N</span>
          <span>E</span>
          <span>S</span>
          <span>W</span>
          <div class="wind-speed">
            <h2>{{ windSpeed }}</h2>
            <h3>m/s</h3>
          </div>
        </span>
      </div>
    </div>
    <div class="rainfall">
      <div class="spec-heading">
        <i class="fa-solid fa-droplet"></i>
        <p>RAINFALL</p>
      </div>
      <h1>{{ rainAmount }} mm</h1>
      <h2>in last 24h</h2>
      <p class="spec-bottom">4 mm expected in next 24h.</p>
    </div>
    <div class="termo">
      <div class="spec-heading">
        <i class="fa-solid fa-temperature-arrow-up"></i>
        <p>FEELS LIKE</p>
      </div>
      <h1>{{ feelsLike }}%</h1>
      <p class="spec-bottom">Similar to the actual temperature</p>
    </div>
    <div class="humidity">
      <div class="spec-heading">
        <i class="fa-solid fa-wind"></i>
        <p>HUMIDITY</p>
      </div>
      <h1>{{ humidity }}%</h1>
      <p class="spec-bottom">The dew points in 16 right now.</p>
    </div>
  </div>
</div>
