<app-weather-bg></app-weather-bg>
<div class="weather-today">
  <h2 class="today-city">{{ userLocationWeather?.city.name }}</h2>
  <h1 class="today-temp">{{ userLocationWeather?.list[0].main.temp }}º</h1>
  <h4 class="today-condition">
    {{ userLocationWeather?.list[0].weather[0].description }}
  </h4>
  <h4 class="today-h-l">
    H:{{ userLocationWeather?.list[0].main.temp_max }}º L:{{
      userLocationWeather?.list[0].main.temp_min
    }}º
  </h4>
</div>
<div class="weather-featured">
  <p class="featured-desc">
    Cloudy conditions from 1AM-9AM, with showers expected at 9AM.
  </p>
  <hr />
  <div class="weather-hours">
    <div class="weather-hour">
      <p>Now</p>
      <i class="fa-solid fa-cloud-moon"></i>
      <p class="hour-temp">{{ userLocationWeather?.list[0].main.temp }}º</p>
    </div>
    <div class="weather-hour">
      <p>10PM</p>
      <i class="fa-solid fa-cloud-rain"></i>
      <p class="hour-temp">22</p>
    </div>
    <div class="weather-hour">
      <p>11PM</p>
      <i class="fa-solid fa-cloud-showers-heavy"></i>
      <p class="hour-temp">21</p>
    </div>
    <div class="weather-hour">
      <p>12PM</p>
      <i class="fa-solid fa-cloud-bolt"></i>
      <p class="hour-temp">21</p>
    </div>
    <div class="weather-hour">
      <p>1AM</p>
      <i class="fa-solid fa-cloud-sun-rain"></i>
      <p class="hour-temp">21</p>
    </div>
  </div>
</div>
<div class="weather-forecast">
  <div>
    <i class="fa-solid fa-calendar-days"></i>
    <p>3-DAY FORECAST</p>
  </div>
  <hr />
  <div class="forecast-days">
    <app-forecast-day
      *ngFor="let day of days; let index"
      [day]="day"
    ></app-forecast-day>
  </div>
</div>
