:host {
    top: 0;
    background: linear-gradient(180deg, #121923 0%, #2b3142 100%);
    position: relative;
    height: 90%;
}

.weather-today {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4rem;
    padding-bottom: 3rem;
    position: relative;
    color: white;
    z-index: 3;
    .today-city {
        font-size: xx-large;
        color: white;
    }

    .today-temp {
        font-size: 5rem;
        font-weight: 200;
    }

    .today-condition {
        font-size: larger;
    }

    .today-h-l {
        font-size: larger;
    }
}

.weather-featured {
    padding: 0 2rem;
    padding-bottom: 1.5rem;
    color: white;
    position: relative;

    .featured-desc {
        margin-bottom: 1rem;
    }
    hr {
        background-color: rgba(255, 255, 255, 0.5);
        margin-bottom: 1rem;
    }

    .weather-hours {
        display: flex;
        justify-content: space-between;
    }

    .weather-hour p:nth-child(1) {
        margin-bottom: 1.5rem;
    }
    .weather-hour i {
        margin-bottom: 1.5rem;
    }
}

.weather-forecast {
    padding: 0 2rem;
    color: white;
    position: relative;

    &div:nth-child(1) {
        margin-bottom: 0.5rem;
    }
    > div:nth-child(1) i {
        margin-right: 0.4rem;
        margin-bottom: 0.3rem;
    }

    hr {
        margin-bottom: 0.5rem;
    }

    .forecast-days {
        display: flex;
        flex-direction: column;
    }
}
